<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.repositories" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
		<section name="dbProviderFactories" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
		<section name="cache" type="net.vieapps.Components.Caching.CacheConfigurationSectionHandler,VIEApps.Components.Caching" />
	</configSections>
	<appSettings>
		<add key="vieapps:Router:Address" value="ws://24.4.77.3:16429/" />
		<add key="vieapps:Cache:ExpirationTime" value="45" />
		<add key="vieapps:Cache:Provider" value="Memcached" />
		<add key="vieapps:HttpUri:APIs" value="http://local-apis.vieapps.net" />
		<add key="vieapps:HttpUri:Files" value="http://local-afs.vieapps.net" />
		<add key="vieapps:HttpUri:Users" value="http://local-aid.vieapps.net" />
		<add key="vieapps:Users:SystemAdministrators" value="bf2d8350b8a34345877cc7e35148d47c" />
		<add key="vieapps:Path:Logs" value="\\Mac\Home\Documents\VIE Apps\log-files" />
		<add key="vieapps:Path:Temp" value="\\Mac\Home\Documents\VIE Apps\data-files\temp" />
		<add key="vieapps:Path:Libraries" value="\\Mac\Home\Documents\VIE Apps\data-files\libraries" />
		<add key="vieapps:Path:Books" value="\\Mac\Home\Documents\VIE Apps\data-files\books" />
		<add key="vieapps:Keys:Encryption" value="VIEApps-15D17AFB-NGX-A2A2-Services-43FC-Encryption-A482-Key-6B240D2CD323" />
		<add key="vieapps:Keys:Validation" value="VIEApps-3068B9D6-NGX-FEFF-Services-4176-Validation-8736-Key-D046804266D3" />
		<add key="vieapps:Keys:Activation" value="VIEApps-F537DBC3-NGX-5189-Services-4CAA-Activation-86B3-Key-DCF1E15283A9" />
		<add key="vieapps:Keys:Authentication" value="VIEApps-500E47DD-NGX-177B-Services-43E7-Authentication-B4A8-Key-4533E739AF39" />
		<add key="vieapps:Logs:Level" value="Debug" />
		<add key="vieapps:Logs:Result" value="true" />
		<add key="vieapps:Books:Crawler-MaxPages" value="1" />
		<add key="vieapps:Books:Crawler-VnThuQuan" value="false" />
		<add key="vieapps:Books:Crawler-ISach" value="true" />
		<add key="vieapps:Books:Crawler-RunAtStartup" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="MongoDB" providerName="MongoDB" connectionString="mongodb://sa:sa%4012345@24.4.77.2/admin" />
		<add name="MySQL" providerName="MySql.Data.MySqlClient" connectionString="server=24.4.77.2;database={database};uid=root;pwd=sa@12345;max pool size=200;min pool size=1;" />
		<add name="PostgreSQL" providerName="Npgsql" connectionString="server=24.4.77.2;database={database};uid=root;pwd=sa@12345;maximum pool size=200;minimum pool size=1;" />
		<add name="SQLServer" providerName="System.Data.SqlClient" connectionString="server=24.4.77.4;database={database};uid=sa;pwd=sa@12345;max pool size=200;min pool size=1;" />
	</connectionStrings>
	<net.vieapps.repositories ensureSchemas="false" ensureIndexes="false" versionDataSource="VIEApps-Storages-MongoDB" trashDataSource="VIEApps-Storages-MongoDB">
		<dataSources>
			<dataSource name="VIEApps-Storages-MongoDB" databaseName="VIEApps-Storages" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Storages-MySQL" databaseName="VIEApps-Storages" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Storages-PostgreSQL" databaseName="VIEApps-Storages" connectionStringName="PostgreSQL" mode="SQL" />
			<dataSource name="VIEApps-Storages-SQLServer" databaseName="VIEApps-Storages" connectionStringName="SQLServer" mode="SQL" />
			<dataSource name="VIEApps-Users-MongoDB" databaseName="VIEApps-Users" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Users-MySQL" databaseName="VIEApps-Users" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Users-PostgreSQL" databaseName="VIEApps-Users" connectionStringName="PostgreSQL" mode="SQL" />
			<dataSource name="VIEApps-Users-SQLServer" databaseName="VIEApps-Users" connectionStringName="SQLServer" mode="SQL" />
			<dataSource name="VIEApps-Files-MongoDB" databaseName="VIEApps-Files" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Files-MySQL" databaseName="VIEApps-Files" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Files-PostgreSQL" databaseName="VIEApps-Files" connectionStringName="PostgreSQL" mode="SQL" />
			<dataSource name="VIEApps-Files-SQLServer" databaseName="VIEApps-Files" connectionStringName="SQLServer" mode="SQL" />
			<dataSource name="VIEApps-Core-MongoDB" databaseName="VIEApps-Core" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Core-MySQL" databaseName="VIEApps-Core" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Core-PostgreSQL" databaseName="VIEApps-Core" connectionStringName="PostgreSQL" mode="SQL" />
			<dataSource name="VIEApps-Core-SQLServer" databaseName="VIEApps-Core" connectionStringName="SQLServer" mode="SQL" />
			<dataSource name="VIEApps-Marketplaces-MongoDB" databaseName="VIEApps-Marketplaces" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Marketplaces-MySQL" databaseName="VIEApps-Marketplaces" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Marketplaces-PostgreSQL" databaseName="VIEApps-Marketplaces" connectionStringName="PostgreSQL" mode="SQL" />
			<dataSource name="VIEApps-Marketplaces-SQLServer" databaseName="VIEApps-Marketplaces" connectionStringName="SQLServer" mode="SQL" />
			<dataSource name="VIEApps-Libraries-MongoDB" databaseName="VIEApps-Libraries" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Libraries-MySQL" databaseName="VIEApps-Libraries" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Libraries-PostgreSQL" databaseName="VIEApps-Libraries" connectionStringName="PostgreSQL" mode="SQL" />
			<dataSource name="VIEApps-Libraries-SQLServer" databaseName="VIEApps-Libraries" connectionStringName="SQLServer" mode="SQL" />
			<dataSource name="VIEApps-Books-MongoDB" databaseName="VIEApps-Books" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Books-MySQL" databaseName="VIEApps-Books" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Books-PostgreSQL" databaseName="VIEApps-Books" connectionStringName="PostgreSQL" mode="SQL" />
			<dataSource name="VIEApps-Books-SQLServer" databaseName="VIEApps-Books" connectionStringName="SQLServer" mode="SQL" />
		</dataSources>
		<repository type="net.vieapps.Services.Users.Repository`1,VIEApps.Services.Users" primaryDataSource="VIEApps-Users-MongoDB" secondaryDataSource="VIEApps-Users-MySQL" syncDataSources="VIEApps-Users-PostgreSQL,VIEApps-Users-SQLServer" autoSync="true" />
		<repository type="net.vieapps.Services.Files.Repository`1,VIEApps.Services.Files" primaryDataSource="VIEApps-Files-MongoDB" secondaryDataSource="VIEApps-Files-MySQL" syncDataSources="VIEApps-Files-PostgreSQL,VIEApps-Files-SQLServer" />
		<repository type="net.vieapps.Services.Systems.Repository`1,VIEApps.Services.Systems" primaryDataSource="VIEApps-Core-MongoDB" secondaryDataSource="VIEApps-Core-MySQL" syncDataSources="VIEApps-Core-PostgreSQL,VIEApps-Core-SQLServer" />
		<repository type="net.vieapps.Services.Marketplaces.Repository`1,VIEApps.Services.Marketplaces" primaryDataSource="VIEApps-Marketplaces-MongoDB" secondaryDataSource="VIEApps-Marketplaces-MySQL" syncDataSources="VIEApps-Marketplaces-PostgreSQL,VIEApps-Marketplaces-SQLServer" />
		<repository type="net.vieapps.Services.Libraries.Repository`1,VIEApps.Services.Libraries" primaryDataSource="VIEApps-Libraries-MongoDB" secondaryDataSource="VIEApps-Libraries-MySQL" syncDataSources="VIEApps-Libraries-PostgreSQL,VIEApps-Libraries-SQLServer" />
		<repository type="net.vieapps.Services.Books.Repository`1,VIEApps.Services.Books" primaryDataSource="VIEApps-Books-MongoDB" secondaryDataSource="VIEApps-Books-MySQL" syncDataSources="VIEApps-Books-PostgreSQL,VIEApps-Books-SQLServer" />
	</net.vieapps.repositories>
	<dbProviderFactories>
		<add invariant="System.Data.SqlClient" type="System.Data.SqlClient.SqlClientFactory,System.Data.SqlClient" name="Microsoft SQL Server" description="Data Provider for Microsoft SQL Server" />
		<add invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory,MySqlConnector" name="MySQL" description="Data Provider for MySQL" />
		<add invariant="Npgsql" type="Npgsql.NpgsqlFactory,Npgsql" name="PostgreSQL" description="Data Provider for PostgreSQL" />
		<add invariant="Oracle.ManagedDataAccess.Client" type="Oracle.ManagedDataAccess.Client.OracleClientFactory,Oracle.ManagedDataAccess" name="Oracle RDBMS" description="Data Provider for Oracle RDBMS" />
	</dbProviderFactories>
	<cache>
		<servers>
			<add address="24.4.77.2" port="26429" type="Redis" />
			<add address="24.4.77.2" port="36429" type="Memcached" />
			<!--
			<add address="24.4.77.3" port="26429" type="Redis" />
			<add address="24.4.77.3" port="36429" type="Memcached" />
			<add address="24.4.77.4" port="26429" type="Redis" />
			<add address="24.4.77.4" port="36429" type="Memcached" />
			-->
		</servers>
		<socketPool minPoolSize="10" maxPoolSize="500" connectionTimeout="00:00:05" deadTimeout="00:05:00" />
		<options name="VIEApps NGX" allowAdmin="false" version="3.0" connectTimeout="4000" syncTimeout="2000" />
	</cache>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
