<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="vieapps:LogsPath" value="\\Mac\Home\Documents\VIE Apps\log-files" />
		<add key="vieapps:StatusPath" value="\\Mac\Home\Documents\VIE Apps\data-files\status" />
		<add key="vieapps:EmailsPath" value="\\Mac\Home\Documents\VIE Apps\data-files\emails" />
		<add key="vieapps:WebHooksPath" value="\\Mac\Home\Documents\VIE Apps\data-files\webhooks" />
		<add key="vieapps:HttpFilesUri" value="http://local-afs.vieapps.net" />
		<add key="vieapps:EmailSmtpServer" value="smtp.gmail.com" />
		<add key="vieapps:EmailSmtpPort" value="587" />
		<add key="vieapps:EmailSmtpServerEnableSsl" value="true" />
		<add key="vieapps:EmailSmtpUser" value="vieapps.net@gmail.com" />
		<add key="vieapps:EmailSmtpUserPassword" value="npyurvoavykiawev" />
		<add key="vieapps:EmailDefaultSender" value="VIEApps.net &lt;vieapps.net@gmail.com&gt;" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
