<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.repositories" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler, VIEApps.Components.Utility" />
		<section name="dbProviderFactories" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler, VIEApps.Components.Utility" />
		<section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientConfigurationSectionHandler, Enyim.Caching" />
	</configSections>
	<appSettings>
		<add key="vieapps:RouterAddress" value="ws://127.0.0.1:26429/" />
		<add key="vieapps:RouterRealm" value="VIEAppsRealm" />
		<add key="vieapps:LogsPath" value="\\Mac\Home\Documents\VIE Apps\log-files" />
		<add key="vieapps:SystemAdministrators" value="bf2d8350b8a34345877cc7e35148d47c" />
		<add key="vieapps:HttpFilesUri" value="http://local-afs.vieapps.net" />
		<add key="vieapps:BookFilesPath" value="\\Mac\Home\Documents\VIE Apps\data-files\books" />
		<add key="vieapps:LibraryFilesPath" value="\\Mac\Home\Documents\VIE Apps\data-files\libraries" />
	</appSettings>
	<connectionStrings>
		<add name="MongoDB" providerName="MongoDB" connectionString="mongodb://sa:sa%4012345@24.4.77.2/admin" />
		<add name="MySQL" providerName="MySql.Data.MySqlClient" connectionString="server=24.4.77.2;database={database};uid=root;pwd=sa@12345;max pool size=200;min pool size=1;" />
		<add name="SQLServer" providerName="System.Data.SqlClient" connectionString="server=24.4.77.3;database={database};uid=sa;pwd=sa@12345;max pool size=200;min pool size=1;" />
	</connectionStrings>
	<net.vieapps.repositories ensureSchemas="true" ensureIndexes="true">
		<repository type="net.vieapps.Services.Users.Repository`1, VIEApps.Services.Users" primaryDataSource="VIEApps-Users-MongoDB" secondaryDataSource="VIEApps-Users-MySQL" syncDataSources="" />
		<dataSources>
			<dataSource name="VIEApps-Users-MongoDB" databaseName="VIEApps-Users" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Users-MySQL" databaseName="VIEApps-Users" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Users-SQLServer" databaseName="VIEApps-Users" connectionStringName="SQLServer" mode="SQL" />
		</dataSources>
		<repository type="net.vieapps.Services.Files.Repository`1, VIEApps.Services.Files" primaryDataSource="VIEApps-Files-MongoDB" secondaryDataSource="VIEApps-Files-MySQL" syncDataSources="" />
		<dataSources>
			<dataSource name="VIEApps-Files-MongoDB" databaseName="VIEApps-Files" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Files-MySQL" databaseName="VIEApps-Files" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Files-SQLServer" databaseName="VIEApps-Files" connectionStringName="SQLServer" mode="SQL" />
		</dataSources>
		<repository type="net.vieapps.Services.Systems.Repository`1, VIEApps.Services.Systems" primaryDataSource="VIEApps-Core-MongoDB" secondaryDataSource="VIEApps-Core-MySQL" syncDataSources="" />
		<dataSources>
			<dataSource name="VIEApps-Core-MongoDB" databaseName="VIEApps-Core" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Core-MySQL" databaseName="VIEApps-Core" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Core-SQLServer" databaseName="VIEApps-Core" connectionStringName="SQLServer" mode="SQL" />
		</dataSources>
		<repository type="net.vieapps.Services.Marketplaces.Repository`1, VIEApps.Services.Marketplaces" primaryDataSource="VIEApps-Marketplaces-MongoDB" secondaryDataSource="SQL" syncDataSources="" />
		<dataSources>
			<dataSource name="VIEApps-Marketplaces-MongoDB" databaseName="VIEApps-Marketplaces" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Marketplaces-MySQL" databaseName="VIEApps-Marketplaces" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Marketplaces-SQLServer" databaseName="VIEApps-Marketplaces" connectionStringName="SQLServer" mode="SQL" />
		</dataSources>
		<repository type="net.vieapps.Services.Libraries.Repository`1, VIEApps.Services.Libraries" primaryDataSource="VIEApps-Libraries-MongoDB" secondaryDataSource="SQL" syncDataSources="" />
		<dataSources>
			<dataSource name="VIEApps-Libraries-MongoDB" databaseName="VIEApps-Libraries" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Libraries-MySQL" databaseName="VIEApps-Libraries" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Libraries-SQLServer" databaseName="VIEApps-Libraries" connectionStringName="SQLServer" mode="SQL" />
		</dataSources>
		<repository type="net.vieapps.Services.Books.Repository`1, VIEApps.Services.Books" primaryDataSource="VIEApps-Books-MongoDB" secondaryDataSource="SQL" syncDataSources="" />
		<dataSources>
			<dataSource name="VIEApps-Books-MongoDB" databaseName="VIEApps-Books" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Books-MySQL" databaseName="VIEApps-Books" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Books-SQLServer" databaseName="VIEApps-Books" connectionStringName="SQLServer" mode="SQL" />
		</dataSources>
	</net.vieapps.repositories>
	<dbProviderFactories>
		<add invariant="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlClientFactory, MySqlConnector" name="MySQL Provider" description=".NET Framework Data Provider for MySQL" />
		<add invariant="System.Data.SqlClient" type="System.Data.SqlClient.SqlClientFactory, System.Data.SqlClient" name="SQL Server Provider" description=".NET Framework Data Provider for SQL Server" />
	</dbProviderFactories>
	<memcached>
		<servers>
			<add address="24.4.77.2" port="16429" />
		</servers>
		<socketPool minPoolSize="10" maxPoolSize="100" connectionTimeout="00:00:05" deadTimeout="00:01:00" />
	</memcached>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
	</startup>
</configuration>
