<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.services" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<appSettings>
		<add key="vieapps:Router:Uri" value="ws://router.vieapps.com:16429" />
		<add key="vieapps:Path:Logs" value="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/@Logs" />
		<add key="vieapps:Email:SmtpServer" value="smtp.gmail.com" />
		<add key="vieapps:Email:SmtpPort" value="587" />
		<add key="vieapps:Email:SmtpServerEnableSsl" value="true" />
		<add key="vieapps:Email:SmtpUser" value="vieapps.net@gmail.com" />
		<add key="vieapps:Email:SmtpUserPassword" value="smpt-user-password" />
		<add key="vieapps:Email:DefaultSender" value="VIEApps.net &lt;vieapps.net@gmail.com&gt;" />
	</appSettings>
	<net.vieapps.services>
		<service name="VIEApps.WAMPRouter" />
		<service name="VIEApps.Services.APIGateway" />
	</net.vieapps.services>
</configuration>