<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.services" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
		<section name="net.vieapps.task.scheduler" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<appSettings>
		<add key="vieapps:Router:Uri" value="ws://router.vieapps.com:16429" />
		<add key="vieapps:HttpUri:APIs" value="https://apis.vieapps.com" />
		<add key="vieapps:HttpUri:Files" value="https://fs.vieapps.com" />
		<add key="vieapps:HttpUri:Portals" value="https://portals.vieapps.com" />
		<add key="vieapps:Path:Logs" value="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/@Logs" />
		<add key="vieapps:Path:Status" value="/Users/quynhnguyen/Documents/VIEApps.NGX/Data/status" />
		<add key="vieapps:Path:Emails" value="/Users/quynhnguyen/Documents/VIEApps.NGX/Data/emails" />
		<add key="vieapps:Path:WebHooks" value="/Users/quynhnguyen/Documents/VIEApps.NGX/Data/web-hooks" />
		<add key="vieapps:Email:SmtpServer" value="smtp.gmail.com" />
		<add key="vieapps:Email:SmtpPort" value="587" />
		<add key="vieapps:Email:SmtpServerEnableSsl" value="true" />
		<add key="vieapps:Email:SmtpUser" value="vieapps.net@gmail.com" />
		<add key="vieapps:Email:SmtpUserPassword" value="smpt-user-password" />
		<add key="vieapps:Email:DefaultSender" value="VIEApps.net &lt;vieapps.net@gmail.com&gt;" />
		<add key="vieapps:Logs:Level" value="Debug" />
		<add key="vieapps:Logs:ShowResults" value="true" />
		<add key="vieapps:Logs:ShowStacks" value="true" />
		<add key="vieapps:Logs:MaxItems" value="7" />
		<add key="vieapps:Logs:FlushInterval" value="30" />
	</appSettings>
	<net.vieapps.services executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/Services/VIEApps.Services.APIGateway">
		<add name="IPLocations" type="net.vieapps.Services.IPLocations.ServiceComponent,VIEApps.Services.IPLocations" />
		<add name="Users" type="net.vieapps.Services.Users.ServiceComponent,VIEApps.Services.Users" />
		<add name="WindowsAD" type="net.vieapps.Services.Users.WindowsAD.ServiceComponent,VIEApps.Services.Users.WindowsAD" />
		<add name="AuthenticatorOTP" type="net.vieapps.Services.OTPs.Authenticator.ServiceComponent,VIEApps.Services.OTPs.Authenticator" />
		<add name="Files" type="net.vieapps.Services.Files.ServiceComponent,VIEApps.Services.Files" />
		<add name="Search" type="net.vieapps.Services.Search.ServiceComponent,VIEApps.Services.Search" />
		<add name="Portals" type="net.vieapps.Services.Portals.ServiceComponent,VIEApps.Services.Portals" />
		<add name="CMS" type="net.vieapps.Services.CMS.ServiceComponent,VIEApps.Services.CMS" />
		<add name="Utilities" type="net.vieapps.Services.Utilities.ServiceComponent,VIEApps.Services.Utilities" />
		<add name="Banners" type="net.vieapps.Services.Banners.ServiceComponent,VIEApps.Services.Banners" />
		<add name="Menus" type="net.vieapps.Services.Menus.ServiceComponent,VIEApps.Services.Menus" />
		<add name="ContactForms" type="net.vieapps.Services.ContactForms.ServiceComponent,VIEApps.Services.ContactForms" />
		<add name="SimpleContents" type="net.vieapps.Services.SimpleContents.ServiceComponent,VIEApps.Services.SimpleContents" />
		<add name="Documents" type="net.vieapps.Services.Documents.ServiceComponent,VIEApps.Services.Documents" />
		<add name="Dashboards" type="net.vieapps.Services.Dashboards.ServiceComponent,VIEApps.Services.Dashboards" />
		<add name="Books" type="net.vieapps.Services.Books.ServiceComponent,VIEApps.Services.Books" />
		<add name="Indexes" type="net.vieapps.Services.Indexes.ServiceComponent,VIEApps.Services.Indexes" />
		<add name="MssReports" type="net.vieapps.Services.MssReports.ServiceComponent,VIEApps.Services.MssReports" />
		<add name="WindowsImporters" type="net.vieapps.Services.Importers.ServiceComponent,VIEApps.Services.Importers.Windows" executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/Services.NET/VIEApps.Services.APIGateway" />
		<add name="VascoOTP" type="net.vieapps.Services.OTPs.Vasco.ServiceComponent,VIEApps.Services.OTPs.Vasco" executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/Services.NET.x86/VIEApps.Services.APIGateway" />
	</net.vieapps.services>
	<net.vieapps.task.scheduler runOnFirstLoad="false">
		<task time="1" executable="mongodump" arguments="--authenticationDatabase admin --username username --password password --out /var/backups --db MongoDB-To-Backup" />
	</net.vieapps.task.scheduler>
</configuration>