<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.services" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
		<section name="net.vieapps.task.scheduler" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<appSettings>
		<add key="vieapps:Router:Uri" value="ws://24.4.77.2:16429" />
		<add key="vieapps:HttpUri:APIs" value="http://local-apis.vieapps.net" />
		<add key="vieapps:HttpUri:Files" value="http://local-fs.vieapps.net" />
		<add key="vieapps:HttpUri:Users" value="http://local-id.vieapps.net" />
		<add key="vieapps:Path:Logs" value="Z:\Documents\VIEApps NGX\log-files" />
		<add key="vieapps:Path:Status" value="Z:\Documents\VIEApps NGX\data-files\status" />
		<add key="vieapps:Path:Emails" value="Z:\Documents\VIEApps NGX\data-files\emails" />
		<add key="vieapps:Path:WebHooks" value="Z:\Documents\VIEApps NGX\data-files\webhooks" />
		<add key="vieapps:Email:SmtpServer" value="smtp.gmail.com" />
		<add key="vieapps:Email:SmtpPort" value="587" />
		<add key="vieapps:Email:SmtpServerEnableSsl" value="true" />
		<add key="vieapps:Email:SmtpUser" value="vieapps.net@gmail.com" />
		<add key="vieapps:Email:SmtpUserPassword" value="smpt-user-password" />
		<add key="vieapps:Email:DefaultSender" value="VIEApps.net &lt;vieapps.net@gmail.com&gt;" />
		<add key="vieapps:Logs:Level" value="Debug" />
		<add key="vieapps:Logs:ShowResults" value="true" />
		<add key="vieapps:Logs:ShowStacks" value="true" />
		<add key="vieapps:Logs:MaxItems" value="7" />
		<add key="vieapps:Logs:FlushInterval" value="30" />
		<add key="vieapps:ServiceHosting" value="Z:\Documents\VIEApps.NGX.Test\Windows\Services.Core\VIEApps.Services.APIGateway" />
	</appSettings>
	<net.vieapps.services>
		<add name="Users" type="net.vieapps.Services.Users.ServiceComponent,VIEApps.Services.Users" />
		<add name="WindowsAD" type="net.vieapps.Services.Users.WindowsAD.ServiceComponent,VIEApps.Services.Users.WindowsAD" />
		<add name="AuthenticatorOTP" type="net.vieapps.Services.OTPs.ServiceComponent,VIEApps.Services.OTPs.Authenticator" />
		<add name="VascoOTP" type="net.vieapps.Services.OTPs.ServiceComponent,VIEApps.Services.OTPs.Vasco" bitness="x86" executable="Z:\Documents\VIEApps.NGX.Test\Windows\Services.NET\VIEApps.Services.APIGateway.x86" />
		<add name="Files" type="net.vieapps.Services.Files.ServiceComponent,VIEApps.Services.Files" />
		<add name="Systems" type="net.vieapps.Services.Systems.ServiceComponent,VIEApps.Services.Systems" />
		<add name="Marketplaces" type="net.vieapps.Services.Marketplaces.ServiceComponent,VIEApps.Services.Marketplaces" />
		<add name="Books" type="net.vieapps.Services.Books.ServiceComponent,VIEApps.Services.Books" />
		<add name="Libraries" type="net.vieapps.Services.Libraries.ServiceComponent,VIEApps.Services.Libraries" />
		<add name="Indexes" type="net.vieapps.Services.Indexes.ServiceComponent,VIEApps.Services.Indexes" />
		<add name="WindowsImporters" type="net.vieapps.Services.Importers.ServiceComponent,VIEApps.Services.Importers.Windows" executable="Z:\Documents\VIEApps.NGX.Test\Windows\Services.NET\VIEApps.Services.APIGateway" />
		<add name="MssReports" type="net.vieapps.Services.MssReports.ServiceComponent,VIEApps.Services.MssReports" />
		<add name="IPLocations" type="net.vieapps.Services.IPLocations.ServiceComponent,VIEApps.Services.IPLocations" />
	</net.vieapps.services>
	<net.vieapps.task.scheduler runOnFirstLoad="false">
		<task time="1" executable="C:\MongoDB\mongodump.exe" arguments="/username:username /password:password /authenticationDatabase:admin /out:D:\Backups /db:MongoDB-To-Backup" />
		<task time="5" executable="C:\win-acme\letsencrypt.exe" arguments="--renew" />
	</net.vieapps.task.scheduler>
</configuration>