<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.services" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler, VIEApps.Components.Utility" />
	</configSections>
	<appSettings>
		<add key="vieapps:RouterAddress" value="ws://24.4.77.3:16429/" />
		<add key="vieapps:LogsPath" value="\\Mac\Home\Documents\VIE Apps\log-files" />
		<add key="vieapps:StatusPath" value="\\Mac\Home\Documents\VIE Apps\data-files\status" />
		<add key="vieapps:EmailsPath" value="\\Mac\Home\Documents\VIE Apps\data-files\emails" />
		<add key="vieapps:WebHooksPath" value="\\Mac\Home\Documents\VIE Apps\data-files\webhooks" />
		<add key="vieapps:HttpFilesUri" value="http://local-afs.vieapps.net" />
		<add key="vieapps:EmailSmtpServer" value="smtp.gmail.com" />
		<add key="vieapps:EmailSmtpPort" value="587" />
		<add key="vieapps:EmailSmtpServerEnableSsl" value="true" />
		<add key="vieapps:EmailSmtpUser" value="vieapps.net@gmail.com" />
		<add key="vieapps:EmailSmtpUserPassword" value="npyurvoavykiawev" />
		<add key="vieapps:EmailDefaultSender" value="VIEApps.net &lt;vieapps.net@gmail.com&gt;" />
	</appSettings>
	<net.vieapps.services>
		<add name="users" type="net.vieapps.Services.Users.ServiceComponent, VIEApps.Services.Users" />
		<add name="windowsad" type="net.vieapps.Services.Users.WindowsAD.ServiceComponent, VIEApps.Services.Users.WindowsAD" />
		<add name="otps" type="net.vieapps.Services.OTPs.ServiceComponent, VIEApps.Services.OTPs, x86" />
		<add name="files" type="net.vieapps.Services.Files.ServiceComponent, VIEApps.Services.Files" />
		<add name="systems" type="net.vieapps.Services.Systems.ServiceComponent, VIEApps.Services.Systems" />
		<add name="marketplaces" type="net.vieapps.Services.Marketplaces.ServiceComponent, VIEApps.Services.Marketplaces" />
		<add name="books" type="net.vieapps.Services.Books.ServiceComponent, VIEApps.Services.Books" />
		<add name="libraries" type="net.vieapps.Services.Libraries.ServiceComponent, VIEApps.Services.Libraries" />
	</net.vieapps.services>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Core" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Linq" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.3000.0" newVersion="3.0.3000.0" />
			</dependentAssembly>
		</assemblyBinding>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.0.1000.0" newVersion="3.0.1000.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>