<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.dbproviders" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
		<section name="net.vieapps.repositories" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
		<section name="net.vieapps.services" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
		<section name="net.vieapps.task.scheduler" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<appSettings>
		<add key="vieapps:Router:Uri" value="ws://router.vieapps.com:16429" />
		<add key="vieapps:HttpUri:APIs" value="https://apis.vieapps.com" />
		<add key="vieapps:HttpUri:Files" value="https://fs.vieapps.com" />
		<add key="vieapps:HttpUri:Portals" value="https://portals.vieapps.com" />
		<add key="vieapps:HttpUri:Passports" value="https://id.vieapps.com" />
		<add key="vieapps:Path:Logs" value="/media/psf/Home/Documents/VIEApps.NGX/Builds/linux-x64/@Logs" />
		<add key="vieapps:Path:Temp" value="/media/psf/Home/Documents/VIEApps.NGX/Data/temp" />
		<add key="vieapps:Path:Status" value="/media/psf/Home/Documents/VIEApps.NGX/Data/status" />
		<add key="vieapps:Path:Emails" value="/media/psf/Home/Documents/VIEApps.NGX/Data/emails" />
		<add key="vieapps:Path:WebHooks" value="/media/psf/Home/Documents/VIEApps.NGX/Data/web-hooks" />
		<add key="vieapps:Email:SmtpServer" value="smtp.gmail.com" />
		<add key="vieapps:Email:SmtpPort" value="587" />
		<add key="vieapps:Email:SmtpServerEnableSsl" value="true" />
		<add key="vieapps:Email:SmtpUser" value="vieapps.net@gmail.com" />
		<add key="vieapps:Email:SmtpUserPassword" value="smpt-user-password" />
		<add key="vieapps:Email:DefaultSender" value="VIEApps.net &lt;vieapps.net@gmail.com&gt;" />
		<add key="vieapps:Logs:Level" value="Debug" />
		<add key="vieapps:Logs:ShowResults" value="true" />
		<add key="vieapps:Logs:ShowStacks" value="true" />
		<add key="vieapps:Logs:MaxItems" value="7" />
		<add key="vieapps:Logs:DataSource" value="VIEApps-Storages-MongoDB" />
		<add key="vieapps:TimerInterval:FlushLogs" value="30" />
		<add key="vieapps:TimerInterval:Ping" value="300" />
	</appSettings>
	<connectionStrings>
		<add name="MongoDB" providerName="MongoDB" connectionString="mongodb://sa:sa%4012345@db.vieapps.com/admin" />
		<add name="MySQL" providerName="MySQL" connectionString="server=db.vieapps.com;database={database};uid=root;pwd=sa@12345;max pool size=200;min pool size=1;" />
		<add name="PostgreSQL" providerName="PostgreSQL" connectionString="server=db.vieapps.com;database={database};uid=root;pwd=sa@12345;maximum pool size=200;minimum pool size=1;" />
		<add name="SQLServer" providerName="SQLServer" connectionString="server=db.vieapps.com;database={database};uid=sa;pwd=sa@12345;max pool size=200;min pool size=1;" />
	</connectionStrings>
	<net.vieapps.dbproviders>
		<add name="MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory,MySqlConnector" description="Data Provider for MySQL" />
		<add name="PostgreSQL" type="Npgsql.NpgsqlFactory,Npgsql" description="Data Provider for PostgreSQL" />
		<add name="SQLServer" type="System.Data.SqlClient.SqlClientFactory,System.Data.SqlClient" description="Data Provider for SQL Server" />
	</net.vieapps.dbproviders>
	<net.vieapps.repositories ensureSchemas="false" ensureIndexes="false" versionDataSource="VIEApps-Storages-MongoDB" trashDataSource="VIEApps-Storages-MongoDB">
		<dataSources>
			<dataSource name="VIEApps-Storages-MongoDB" databaseName="VIEApps-Storages" connectionStringName="MongoDB" mode="NoSQL" />
			<dataSource name="VIEApps-Storages-MySQL" databaseName="VIEApps-Storages" connectionStringName="MySQL" mode="SQL" />
			<dataSource name="VIEApps-Storages-PostgreSQL" databaseName="VIEApps-Storages" connectionStringName="PostgreSQL" mode="SQL" />
			<dataSource name="VIEApps-Storages-SQLServer" databaseName="VIEApps-Storages" connectionStringName="SQLServer" mode="SQL" />
		</dataSources>
	</net.vieapps.repositories>
	<net.vieapps.services executable="/media/psf/Home/Documents/VIEApps.NGX/Builds/linux-x64/Services/VIEApps.Services.APIGateway">
		<add name="IPLocations" type="net.vieapps.Services.IPLocations.ServiceComponent,VIEApps.Services.IPLocations" />
		<add name="Users" type="net.vieapps.Services.Users.ServiceComponent,VIEApps.Services.Users" />
		<add name="WindowsAD" type="net.vieapps.Services.Users.WindowsAD.ServiceComponent,VIEApps.Services.Users.WindowsAD" />
		<add name="AuthenticatorOTP" type="net.vieapps.Services.OTPs.Authenticator.ServiceComponent,VIEApps.Services.OTPs.Authenticator" />
		<add name="Files" type="net.vieapps.Services.Files.ServiceComponent,VIEApps.Services.Files" />
		<add name="Portals" type="net.vieapps.Services.Portals.ServiceComponent,VIEApps.Services.Portals" />
		<add name="Books" type="net.vieapps.Services.Books.ServiceComponent,VIEApps.Services.Books" />
		<add name="Indexes" type="net.vieapps.Services.Indexes.ServiceComponent,VIEApps.Services.Indexes" />
	</net.vieapps.services>
	<net.vieapps.task.scheduler runOnFirstLoad="false">
		<task time="1" executable="mongodump" arguments="--authenticationDatabase admin --username username --password password --out /var/backups --db MongoDB-To-Backup" />
	</net.vieapps.task.scheduler>
</configuration>