<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.bundles" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<net.vieapps.bundles>
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/APIGateway/Controller/VIEApps.Services.APIGateway" arguments="/daemon" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/APIGateway/Http/VIEApps.Services.APIGateway" arguments="" waitingTimes="1234" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/Services.Http/Files/VIEApps.Services.Files.Http" arguments="" waitingTimes="1234" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/Services.Http/Files.Storages/VIEApps.Services.Files.Http.Storages" arguments="" waitingTimes="1234" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/Services.Http/SRP/VIEApps.Services.SRP.Http" arguments="" waitingTimes="1234" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX/Builds/osx-x64/Services.Http/Portals/VIEApps.Services.Portals.Http" arguments="" waitingTimes="1234" />
	</net.vieapps.bundles>
</configuration>