<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.services.bundles" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<net.vieapps.services.bundles>
		<service executable="Z:\Documents\VIEApps.NGX\Builds\win10-x64\APIGateway\Controller\VIEApps.Services.APIGateway" arguments="/daemon" />
		<service executable="Z:\Documents\VIEApps.NGX\Builds\win10-x64\APIGateway\Http\VIEApps.Services.APIGateway" arguments="" waitingTimes="1234" />
		<service executable="Z:\Documents\VIEApps.NGX\Builds\win10-x64\Services.Http\Files\VIEApps.Services.Files.Http" arguments="" waitingTimes="1234" />
		<service executable="Z:\Documents\VIEApps.NGX\Builds\win10-x64\Services.Http\Files.Storages\VIEApps.Services.Files.Http.Storages" arguments="" waitingTimes="1234" />
		<service executable="Z:\Documents\VIEApps.NGX\Builds\win10-x64\Services.Http\SRP\VIEApps.Services.SRP.Http" arguments="" waitingTimes="1234" />
		<service executable="Z:\Documents\VIEApps.NGX\Builds\win10-x64\Services.Http\Portals\VIEApps.Services.Portals.Http" arguments="" waitingTimes="1234" />
	</net.vieapps.services.bundles>
</configuration>