<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.bundles" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<net.vieapps.bundles>
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX.Test/macOS/Controller/VIEApps.Services.APIGateway" arguments="" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX.Test/macOS/Services.HTTP/APIGateway/VIEApps.Services.APIGateway" arguments="" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX.Test/macOS/Services.HTTP/Files/VIEApps.Services.Files.Http" arguments="" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX.Test/macOS/Services.HTTP/Files.Storages/VIEApps.Services.Files.Http.Storages" arguments="" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX.Test/macOS/Services.HTTP/PWAs/VIEApps.Services.PWAs" arguments="" />
		<process executable="/Users/quynhnguyen/Documents/VIEApps.NGX.Test/macOS/Services.HTTP/Users/VIEApps.Services.Users.Http" arguments="" />
	</net.vieapps.bundles>
</configuration>