<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="net.vieapps.bundles" type="net.vieapps.Components.Utility.AppConfigurationSectionHandler,VIEApps.Components.Utility" />
	</configSections>
	<net.vieapps.bundles>
		<process executable="Z:\Documents\VIEApps.NGX.Test\Windows\Controller\VIEApps.Services.APIGateway" arguments="/daemon" />
		<process executable="Z:\Documents\VIEApps.NGX.Test\Windows\Services.Core.HTTP\APIGateway\VIEApps.Services.APIGateway" arguments="" />
		<process executable="Z:\Documents\VIEApps.NGX.Test\Windows\Services.Core.HTTP\Files\VIEApps.Services.Files.Http" arguments="" />
		<process executable="Z:\Documents\VIEApps.NGX.Test\Windows\Services.Core.HTTP\Files.Storages\VIEApps.Services.Files.Http.Storages" arguments="" />
		<process executable="Z:\Documents\VIEApps.NGX.Test\Windows\Services.Core.HTTP\PWAs\VIEApps.Services.PWAs" arguments="" />
		<process executable="Z:\Documents\VIEApps.NGX.Test\Windows\Services.Core.HTTP\Users\VIEApps.Services.Users.Http" arguments="" />
	</net.vieapps.bundles>
</configuration>